$ext: 'ttf';
$vfont: 'BaiJamjuree-Variable';
$fonts: (
  'BaiJamjuree-Bold': 800,
  'BaiJamjuree-ExtraLight': 200,
  'BaiJamjuree-Light': 300,
  'BaiJamjuree-Regular': 400,
  'BaiJamjuree-Medium': 500,
  'BaiJamjuree-SemiBold': 600
);
